<!DOCTYPE html>
<html>
<head>
  <title> GNUKhata-Find And Edit Account </title>
  <link href="{{tg.url('/css/bootstrap.min.css')}}"rel='stylesheet' media="screen">
  <script src="{{tg.url('/javascript/jquery-2.1.4.min.js')}}"></script>
  <script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
</head>

<body>
<div>	
	<img src="{{tg.url('/images/finallogo1.png')}}"  alt="GNUKhata" align="right" height="60" width="350" background-position:"top right;">
	
</div>
<div style="background-color:#293967; color:White; padding:20px; align:top;">
	
	<h4>Organization Name</h4>
	<h5>For Financial Year From -/-/- to -/-/- </h5>
</div>
<br>
<div class="container">
<ul class="nav nav-tabs">
<li><a href="CreateNewAccount.jinja">Add New Account</a></li>
<li class="active"><a href="#find">Find Account</a></li>
<br><hr> </ul>
<form>
<div id="find">
<table style="width:100%">
	<br>
<tr>
<td><label><span class="glyphicon glyphicon-book">
              									</span> Account Name :</label>
<td><select>
  <option value="ps">----- Please select ------</option>
  <option value="cap">Capital</option>
  <option value="Ca">Current Assets</option>
  <option value="CU">Current Liability</option>
  <option value="DE">Direct Expense</option>
  <option value="DI">Direct Income</option>
</select> 
<td><button type="button">
	<span class="glyphicon glyphicon-search">
		
	</span> 
	 Search </button> 
<td>
	<td><label style="visibility:hidden;">Total Debit Opening Balance:</label>
<td><label style="border: 1px solid 
#AFAFAB;
  background-color:white;
  color: black;
  display: block;
  float: left;
  margin-right: 1px;
  padding: 1px;
  text-align: right;
  width: 13em;visibility:hidden;">0.00</label>
</tr>
<tr>
<td><br><br><br><label>Group Name :</label>
<td><br><br><br><input type="text" name="accname">
</tr>
<tr>
<td><br><br><label>Sub-Group Name :</label>
<td><br><br><input type="text" name="accname">
<td>
	<td>
		<td><br><br><label style="visibility:hidden;">Total Credit Opening Balance:</label>
<td><br><br><label style="border: 1px solid 
#AFAFAB;
  background-color:white;
  color: black;
  display: block;
  float: left;visibility:hidden;
  margin-right: 1px;
  padding: 1px;
  text-align: right;
  width: 13em;">0.00</label>
</tr>
<tr>
<td><br><br><br><label>Account Name:</label>
<td><br><br><br><input type="text" name="accname">
</tr>
<td><br><br><br><label>Opening Balance:</label>
<td><br><br><br><input type="text" name="accname">

<td>
	<td>
		<td><br><br><br><label style="visibility:hidden;">Difference In Opening Balance:</label>
<td><br><br><br><label style="border: 1px solid 
#AFAFAB;visibility:hidden;
  background-color:white;
  color: black;
  display: block;
  float: left;
  margin-right: 1px;
  padding: 1px;
  text-align: right;
  width: 13em;">0.00</label>
<div id="button"> 
<tr>
<td>
	<td><br><br><br><button type="button"  style="position:relative; left:70%;"><span class="glyphicon glyphicon-pencil">
		
	</span> Edit</button>
<td>
	<td><br><br><br><button type="button" style="position:relative; right:10%;"><span class="glyphicon glyphicon-check">
		
	</span> Confirm</button>
<td>
	<td><br><br><br><button type="button"  style="position:relative; right:75%"><span class="glyphicon glyphicon-trash">
		
	</span> Delete</button>

</tr>
</div>

</table>
</div>
<script>
function disableBtn() {
    document.getElementById("button").disabled = true;
}
</script>


</form>

</div>

</body>
</html>

